<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>

    <h1>{{ subject }} Test</h1>

    <form method="POST">

        {% for q in questions %}

            <h3>{{ q[2] }}</h3>

            <input type="radio" name="{{ q[0] }}" value="A"> {{ q[3] }}<br>
            <input type="radio" name="{{ q[0] }}" value="B"> {{ q[4] }}<br>
            <input type="radio" name="{{ q[0] }}" value="C"> {{ q[5] }}<br>
            <input type="radio" name="{{ q[0] }}" value="D"> {{ q[6] }}<br><br>

        {% endfor %}

        <button type="submit">Submit Test</button>

    </form>

</body>
</html>
